.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Romero-Britto1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 648px;
  margin: 428px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 569px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 44px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 304px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: abril-fatface;
  margin: 52px 391px 0 177px;
}

.u-section-2 .u-line-1 {
  width: 125px;
  position: relative;
  height: 12px;
  transform-origin: left center 0;
  margin: -42px auto 0 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 102px 0 -82px 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 221px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-top: 19px;
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 146px;
    margin-right: 322px;
    position: relative;
  }

  .u-section-2 .u-line-1 {
    width: 103px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin: -63px 16px 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 112px;
    margin-right: 247px;
  }

  .u-section-2 .u-line-1 {
    width: 79px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 170px;
    margin-left: 117px;
  }

  .u-section-2 .u-line-1 {
    width: 74px;
    margin-bottom: 36px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 57px;
    margin-right: 6px;
    margin-left: 79px;
  }

  .u-section-2 .u-line-1 {
    width: 62px;
    margin-bottom: 103px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 132px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/dd7374ac2bceb88a45b4ee093d8ee70e.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 717px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 110px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-3 .u-image-1 {
  height: 245px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-family: patua-one;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-3 .u-image-2 {
  height: 245px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-family: patua-one;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-4 {
  margin: 45px 30px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 451px;
}

.u-section-3 .u-image-3 {
  height: 245px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-family: patua-one;
  margin: 30px 30px 0;
}

.u-section-3 .u-text-6 {
  margin: 45px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-3 .u-image-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-3 .u-image-2 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 508px;
  }

  .u-section-3 .u-image-3 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 19px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1771px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 349px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 349px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 349px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-3 .u-image-1 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-3 .u-image-2 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 555px;
  }

  .u-section-3 .u-image-3 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 779px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-4 .u-image-1 {
  min-height: 325px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Romero3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-family: patua-one;
  margin: 239px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 324px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/kinderdijka.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-2 {
  font-family: patua-one;
  margin: 30px 0;
}

.u-section-4 .u-image-3 {
  min-height: 649px;
  background-image: url("images/0_protestos-de-abril-de-20161a1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 325px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/the-bearer-irma-2008-cke.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  font-family: patua-one;
  margin: 30px 0;
}

.u-section-4 .u-image-5 {
  min-height: 324px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/paris-0-cke.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-4 {
  font-family: patua-one;
  margin: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/af0be39b3f8546c47638c015771be360.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 933px;
}

.u-section-5 .u-line-1 {
  width: 127px;
  height: 12px;
  transform-origin: left center 0px;
  margin: 66px auto 0 31px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-family: abril-fatface;
  margin: -47px 155px 0 211px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-5 .u-image-1 {
  height: 388px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-family: patua-one;
  font-size: 2.25rem;
  margin: 53px 20px 0 40px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-5 .u-image-2 {
  height: 400px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-5 .u-text-3 {
  font-family: patua-one;
  font-size: 2.25rem;
  margin: 41px 20px 0 40px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 538px;
}

.u-section-5 .u-image-3 {
  height: 407px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  font-family: patua-one;
  font-size: 2.25rem;
  margin: 30px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-5 .u-line-1 {
    margin-left: 32px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 55px;
    margin-left: 111px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 115px;
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-5 .u-image-1 {
    height: 245px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-5 .u-image-2 {
    height: 245px;
    position: relative;
    margin-right: initial;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 510px;
  }

  .u-section-5 .u-image-3 {
    height: 245px;
    position: relative;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 65px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -908px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 551px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    height: 569px;
    margin-right: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    height: 578px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -864px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-5 .u-image-1 {
    height: 245px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-5 .u-image-2 {
    height: 245px;
    margin-right: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 535px;
  }

  .u-section-5 .u-image-3 {
    height: 245px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 698px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 44px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 576px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-family: abril-fatface;
  margin: 52px 391px 0 177px;
}

.u-section-6 .u-line-1 {
  width: 125px;
  position: relative;
  height: 12px;
  transform-origin: left center 0px;
  margin: -42px auto 0 20px;
}

.u-section-6 .u-text-2 {
  margin: 105px auto 0 20px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 68px 10px -110px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 221px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-top: 19px;
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 146px;
    margin-right: 322px;
    position: relative;
  }

  .u-section-6 .u-line-1 {
    width: 103px;
    margin-left: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -69px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-top: -33px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 112px;
    margin-right: 247px;
  }

  .u-section-6 .u-line-1 {
    width: 79px;
    margin-left: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 45px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -147px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 170px;
    margin-left: 117px;
  }

  .u-section-6 .u-line-1 {
    width: 74px;
    margin-left: 18px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 157px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -223px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 57px;
    margin-right: 6px;
    margin-left: 79px;
  }

  .u-section-6 .u-line-1 {
    width: 62px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 490px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -476px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 132px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 698px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 44px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 797px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-family: abril-fatface;
  margin: 52px 391px 0 177px;
}

.u-section-7 .u-line-1 {
  width: 125px;
  position: relative;
  height: 12px;
  transform-origin: left center 0px;
  margin: -42px auto 0 20px;
}

.u-section-7 .u-text-2 {
  margin: 105px auto 0 20px;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  margin: 44px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-top: 19px;
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 146px;
    margin-right: 322px;
    position: relative;
  }

  .u-section-7 .u-line-1 {
    width: 103px;
    margin-left: 16px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -69px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-top: -33px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 112px;
    margin-right: 247px;
  }

  .u-section-7 .u-line-1 {
    width: 79px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 45px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -147px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 170px;
    margin-left: 117px;
  }

  .u-section-7 .u-line-1 {
    width: 74px;
    margin-left: 18px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 157px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -223px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 57px;
    margin-right: 6px;
    margin-left: 79px;
  }

  .u-section-7 .u-line-1 {
    width: 62px;
    margin-left: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 490px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -476px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 698px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 44px auto 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 797px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-family: abril-fatface;
  margin: 52px 391px 0 177px;
}

.u-section-8 .u-line-1 {
  width: 125px;
  position: relative;
  height: 12px;
  transform-origin: left center 0px;
  margin: -42px auto 0 20px;
}

.u-section-8 .u-text-2 {
  margin: 105px auto 0 20px;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  margin: 44px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
    margin-top: 19px;
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 146px;
    margin-right: 322px;
    position: relative;
  }

  .u-section-8 .u-line-1 {
    width: 103px;
    margin-left: 16px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -69px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    position: relative;
    margin-top: -33px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 112px;
    margin-right: 247px;
  }

  .u-section-8 .u-line-1 {
    width: 79px;
    margin-left: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 45px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -147px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 170px;
    margin-left: 117px;
  }

  .u-section-8 .u-line-1 {
    width: 74px;
    margin-left: 18px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 157px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -223px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 57px;
    margin-right: 6px;
    margin-left: 79px;
  }

  .u-section-8 .u-line-1 {
    width: 62px;
    margin-left: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 490px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -476px;
    margin-left: 6px;
    margin-right: 6px;
  }
}